<section
  class="new-training"
  fxLayout
  fxLayoutAlign="center"
>
  <form [formGroup]="trainingForm" (ngSubmit)="onStartExercise()">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title
        fxLayoutAlign="center"
      >Time to start workout!
      </mat-card-title>
      <mat-card-content
        fxLayout="column"
        fxLayoutAlign="center"
      >
        <mat-form-field>
          <mat-select
            formControlName="exercise"
            placeholder="Select type of training"
          >
            <mat-option *ngFor="let training of trainings | async" [value]="training.id">
              {{ training.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button
          mat-button
          type="submit"
          [disabled]="trainingForm.invalid"
        >Start
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
