<section class="SignupForm">
  <form fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="10px"
        [formGroup]="signupForm">
    <mat-form-field>
      <input matInput
             placeholder="Your email"
             type="email"
             formControlName="email">
      <mat-error *ngIf="signupForm.get('email').errors &&
        signupForm.get('email').errors.required">Field must be not empty!
      </mat-error>
      <mat-error *ngIf="signupForm.get('email').errors &&
        !signupForm.get('email').errors.required
        && signupForm.get('email').errors.email">
        Email is invalid!
      </mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Has to be at least 6 characters long.">
      <input matInput
             placeholder="Your password"
             type="password"
             formControlName="password">
      <mat-hint align="end"
                *ngIf="signupForm.get('password').errors && signupForm.get('password').errors.minlength">
        {{signupForm.get('password').errors.minlength.actualLength}}/ {{signupForm.get('password').errors.minlength.requiredLength}}
      </mat-hint>
      <mat-error>Has to be at least 6 characters long.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput
             [matDatepicker]="picker"
             placeholder="Your birthdate"
             formControlName="birthday"
             [max]="maxDate" />
      <mat-datepicker-toggle matSuffix
                             [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox formControlName="agreement"
                  color="primary">
      Agree to Terms and Conditions
    </mat-checkbox>
    <button class="SignupForm-button"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="signupForm.invalid"
            (click)="onSubmitForm()">Sign up
    </button>
  </form>
</section>